<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 非生产环境直接复用 Spring Boot 默认配置 -->
    <springProfile name="!prod">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
    </springProfile>

    <!-- 生产环境：完全自定义（不引入 base.xml） -->
    <springProfile name="prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <charset>UTF-8</charset>
                <pattern>%white(%d{yyyy-MM-dd HH:mm:ss.SSSXXX}) %clr([%X{traceId:-traceId}]) %clr(%5p){DEBUG=green, INFO=blue, WARN=boldYellow, ERROR=red} %magenta(${PID:- }) --- [%15.15t] %cyan(%-40.40logger{39}) : %m%n%exception</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>